.node {
  outline: 0.5px solid RGB(18, 177, 217);
  user-select: none;
  -webkit-user-drag: none;
  height: 25px;
  width: 25px;
}

.start {
  background-color: green;
}

.finish {
  background-color: red;
}

.wall {
  cursor: pointer;
  outline: none;
  background-color: rgba(0, 0, 128, 0.74);
  animation-name: placeWallAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes placeWallAnimation {
  0% {
    transform: scale(1.3);
    background-color: rgba(0, 0, 66, 0.75);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.1);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 0, 66, 0.75);
  }
}

.visited {
  background-color: blue;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.7);
    transform: rotate(90);
    background-color: black;
    border-radius: 10%;
  }

  50% {
    transform: scale(0.9);
    transform: rotate(180);
    background-color: grey;
  }

  75% {
    transform: scale(1.1);
    transform: rotate(270);
    background-color: grey;
  }

  100% {
    transform: scale(1);
    transform: rotate(360);
    background-color: grey;
  }
}

.hovered {
}
.unvisited {
  cursor: pointer;
}
.unvisited:hover {
  outline: 3px solid rgb(0, 162, 255);
}
